
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Georgia', serif;
    background-color: #f8c1e6;
    color: #4a3f37; 
    text-align: center;
    line-height: 1.6;
    padding: 20px;
}

/* Cabeçalho */
.cabecalho {
    background-color: #ff81c8;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.cabecalho h1 {
    color: #fff;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

/* Menu de navegação */
.menu {
    text-align: center;
    margin-bottom: 30px;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: #4a3f37;
    margin: 0 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
    text-align: center;
}

.menu a:hover {
    color: #f7b3d9; 
}

/* Estilo para as seções principais */
h2 {
    font-size: 1.8em;
    color: #d47eab; 
    margin-bottom: 15px;
    font-family: 'Georgia', serif;
}

p {
    font-size: 1.1em;
    color: #4a3f37; 
    margin-bottom: 20px;
    line-height: 1.8;
    text-align: center;
}

/* Estilo para o texto em negrito */
strong {
    font-weight: bold;
    color: #080005; 
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 50px;
    font-size: 0.9em;
    text-align: center;
    color: #ff0090; 
}

/* Responsividade */
@media (max-width: 768px) {
    .cabecalho h1 {
        font-size: 2em;
        text-align: center;
    }

    .menu a {
        font-size: 1em;
        margin: 0 10px;
    }

    h2 {
        font-size: 1.6em;
    }
}
a {
     /* cor para os links */
      text-decoration: none;
    color: #4a3f37;
    margin: 0 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}
.conteudo-inicio{
    max-width: 800px;   
    text-align: justify;
    margin: auto;
    font-size: 78%;
}

.conteudo-curiosidade{
    max-width: 1000px;   
    text-align: justify;
    margin: auto;
    font-size: 78%;
      padding: 50px;
}


  
.conteudo-inicio p{
    text-align: center;
}
